@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;700&family=Ubuntu:wght@400;500&display=swap");

:root {
  --cor-principal: #525fe1;
  --cor-contraste: #3644df;
  --cor-padrao: black;
  --cor-secundaria: #f86f03;
  --cor-neutra: #ffffff;
  --fonte-principal: "Ubuntu", sans-serif;
  --degrade-fundo: ;
}

body {
  height: 100vh;
  background-color: var(--cor-principal);
  text-decoration: none;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo__card {
  font-family: var(--fonte-principal);
  margin: 0.5rem 0;
}

.subtitulo__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

strong {
  font-weight: bold;
}

.card__principal {
  border-radius: 15px;
  background-color: var(--cor-neutra);
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.card__escondido {
  border-radius: 12px;
  border: 2px solid var(--cor-principal);
  position: absolute;
  width: 45vh;
  height: 80vh;
  display: none;
  transform: translateX(-50%);
  background-color: var(--cor-neutra);
}
.img__exercicio {
  width: 80%;
  height: 40%;

  backdrop-filter: blur(1px);
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--fonte-principal);
  gap: 1rem;
}

.titulo__exercicio {
  font-size: 1.7rem;
}

.qtd__repeticoes {
  color: var(--cor-contraste);
}

.grupo__muscular {
  display: flex;
  align-items: center;
  padding: 2%;
  width: 60%;
  gap: 0.8rem;
}

.grupo__muscular .qtd__repeticoes {
  color: var(--cor-padrao);
}

.titulo__dicas {
  font-size: 1.2rem;
  color: var(--cor-secundaria);
}

.dicas {
  font-size: 0.9rem;
}

.botao__abrir {
  font-size: 1rem;
  font-family: var(--fonte-principal);
  font-weight: bold;
  width: 50vh;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.botao__fechar {
  cursor: pointer;
}
