@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;700&family=Ubuntu:wght@400;500&display=swap");

:root {
  --cor-principal: #525fe1;
  --cor-contraste: #3644df;
  --cor-padrao: black;
  --cor-secundaria: #f86f03;
  --cor-neutra: #ffffff;
  --fonte-principal: "Ubuntu", sans-serif;
  --degrade-fundo: ;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-principal);
  text-decoration: none;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao__voltar {
  width: 100%;
  margin-left: 8%;
  margin-top: 1%;
  background-color: transparent;
  border: none;
}

.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vh;
  display: flex;
  margin-top: 20%;
  align-items: center;
  flex-direction: column;
}

.titulo__card {
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor-secundaria);
  padding: 1px;
}

.subtitulo__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

strong {
  font-weight: bold;
}

.card__principal {
  border-radius: 15px;
  background-color: var(--cor-neutra);
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__escondido {
  border-radius: 12px;
  border: 2px solid var(--cor-principal);
  position: absolute;
  width: 45vh;
  height: 80vh;
  display: none;
  transform: translateX(-93%);
  background-color: var(--cor-neutra);
}

#card__supino {
  bottom: 9%;
  transform: translateX(-93%);
}

#card__supinoInclinado {
  bottom: 9%;
  transform: translateX(-93%);
}

#card__inclinadoHalteres {
  bottom: 9%;
  transform: translateX(-93%);
}
#card__roscaScott {
  bottom: 9%;
  transform: translateX(-93%);
}
#card__roscaMartelo {
  bottom: 9%;
  transform: translateX(-93%);
}
#card__roscaAlternada {
  bottom: 9%;
  transform: translateX(-93%);
}
*/ .img__exercicio {
  width: 80%;
  height: 40%;
  backdrop-filter: blur(1px);
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--fonte-principal);
  gap: 1rem;
}

.titulo__exercicio {
  font-size: 1.4rem;
}

.qtd__repeticoes {
  color: var(--cor-contraste);
}

.grupo__muscular {
  display: flex;
  align-items: center;
  padding: 2%;
  width: 60%;
  gap: 0.8rem;
}

.grupo__muscular .qtd__repeticoes {
  color: var(--cor-padrao);
}

.titulo__dicas {
  font-size: 1.2rem;
  color: var(--cor-secundaria);
}

.dicas {
  font-size: 0.9rem;
}

.botao__abrir {
  font-size: 1rem;
  font-family: var(--fonte-principal);
  font-weight: bold;
  width: 40vh;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.botao__fechar {
  cursor: pointer;
}
