:root {
  --cor-principal: #525fe1;
  --cor-contraste: #3644df;
  --cor-padrao: black;
  --cor-secundaria: #ff3847;
  --cor-neutra: #ffffff;
  --fonte-principal: "Ubuntu", sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .card-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 5px solid var(--cor-neutra);
  }

  .botoes-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
  }

  .botao-abrir {
    padding: 30px;
  }
  .informacoes-card {
    height: 30%;
    gap: 5%;
  }

  .img-exercicio {
    height: 60%;
  }

  .titulo-exercicio {
    font-size: 2rem;
  }

  .qtd-repeticoes {
    font-size: 1.5rem;
  }

  .grupo-muscular {
    font-size: 1.5rem;
  }
  .dicas-exercicios {
    font-size: 1.3rem;
    width: 85%;
  }
}

@media (min-width: 1000px) {
  .nav {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: start;
    margin-bottom: 1rem;
  }
  .card-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 5px solid var(--cor-neutra);
    height: auto;
  }

  .card {
    width: 80vw;
    height: 90vh;
  }

  .card-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-neutra);
    width: 85%;
    height: 90%;
    border-radius: 15px;
    gap: 10px;
    position: relative;
  }
  .icone-fechar {
    display: flex;
    width: 5%;
    position: absolute;
    transform: translateY(-60%);
    height: 30%;
  }
  .img-exercicio {
    height: 100%;
  }

  .conteudo-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15%;
    width: 80vw;
  }

  .informacoes-card {
    gap: 5%;
  }

  .titulo-exercicio {
    font-size: 3rem;
  }

  .qtd-repeticoes {
    font-size: 2rem;
  }

  .grupo-muscular {
    font-size: 1.7rem;
  }

  .dicas-exercicios {
    font-size: 1.3rem;
    font-family: var(--fonte-principal);
  }
}
