@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;700&family=Ubuntu:wght@400;500&display=swap");

:root {
  --cor-principal: #525fe1;
  --cor-contraste: #3644df;
  --cor-apoio: #006dec;
  --cor-padrao: black;
  --cor-secundaria: #ff3847;
  --cor-neutra: #ffffff;
  --fonte-principal: "Ubuntu", sans-serif;
  --degrade-padrao: linear-gradient(to 90deg, #00c3f3, #006dec, #0044bf);
}

body {
  box-sizing: border-box;
  background-image: url("../assets/pattern-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-titulo {
  display: absolute;
  max-width: 50px;
  max-height: 100px;
}

.card {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-apoio);
  width: 92vw;
  height: 90vh;
  border-radius: 20px;
}

.titulo-card {
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor-secundaria);
}

.botoes-card {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

.botao-abrir {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  border-radius: 12px;
  width: 100%;
  font-family: var(--fonte-principal);
  font-size: 1.2rem;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.card-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-neutra);
  width: 85%;
  height: 90%;
  border-radius: 15px;
  gap: 10px;
  position: relative;
  transition: opacity 1s ease-in-out;
}

.voltar {
  border: none;
  background-color: transparent;
  width: 95%;
  margin-top: 5%;
}

.botao-fechar {
  width: 100%;
}
.icone-fechar {
  border: none;
  position: relative;
  background-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
}

.informacoes-card {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-exercicio {
  width: 90%;
  height: 48%;
}

.titulo-exercicio {
  font-family: var(--fonte-principal);
  font-weight: bold;
  color: var(--cor-secundaria);
  font-size: 1.6rem;
}
.qtd-repeticoes {
  font-family: var(--fonte-principal);
  font-weight: bold;
  font-size: 1.2rem;
}

.grupo-muscular {
  color: var(--cor-contraste);
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  gap: 15px;
  font-family: var(--fonte-principal);
  display: flex;
  align-items: center;
}
.dicas-exercicios {
  font-size: 1.1rem;
  font-family: var(--fonte-principal);
  width: 90%;
}

#modal-supino {
  display: none;
}

#modal-supinoInclinado {
  display: none;
}
#modal-supinoHalteres {
  display: none;
}
#modal-roscaScott {
  display: none;
}
#modal-roscaMartelo {
  display: none;
}
#modal-roscaAlternada {
  display: none;
}
